<section id='top' class='flex-container'>
  <header class='flex-container'>
    <nav>
      <a href="/blog">Go to Blog</a>
      <a href="/cms">New Post</a>
    </nav>
  </header>
</section>
<span class='topPad'><a href="" id='topScroll'>Top Pad</a></span>

<section class='content' class='flex-container'>
  <div class='flex-container' id='content'>

    {{!-- calendar --}}
    {{!-- <div class='calendar' class='flex-container'> --}}
    <div id="calendar" class='flex-container'>
    </div>
    {{!-- </div> --}}

    {{!-- expense stats --}}
    <div class="expense-container"></div>
    <table class="flex-contaier">
      <thead>
        <tr>
          <th>Name</th>
          <th>Cost</th>
          <th>Date</th>
          <th>Delete Expense</th>
        </tr>
      </thead>
      <tbody>
        <div class='flex-container' id='statsList'>
          <div id='statIncome'>
            monthly income
          </div>
          <div id='statExpense'>
            total expenses
          </div>
          <div id='statDay'>
            savings per day
          </div>
          <div id='statRemainder'>
            amt saved after billing cycle
          </div>
        </div>

        {{!-- expense form --}}
        <form id="expenseForm" class='flex-container'>
          <div class="formItem" class='flex-container'>
            <label for="expense-name">Expense Name</label>
            <input type="text" class="form-control" id="expense-name" placeholder="Enter the Name of the Expense">
          </div>
          <div class="formItem" class='flex-container'>
            <label for="inputCost">Cost Name</label>
            <input type="text" class="form-control" id="expense-cost" placeholder="Enter the Cost of the Expense">
          </div>
          <div class="formItem" class='flex-container'>
            <label for="expense-name">Billing Cycle</label>
            <select class='cycleType' id='test'>
              <option value="1">30 (days)</option>
              <option value="2">Annual (365 days)</option>
              <option value="3">First of Each Month</option>
            </select>
          </div>
          <div class="formItem" class='flex-container'>
            <label for="inputDate">Date</label>
            <input type="text" class="form-control" id="expense-date" placeholder="Enter the Date of the Expense">
            <button type="submit" class="btn btn-success">Budge It</button>
          </div>
        </form>
      </tbody>
    </table>
  </div>
  <div class='pad'></div>
  <div class='flex-container'>
    <p>Question 1: Your mind is always buzzing with unexplored ideas and plans.</p>
  </div>
  <div class='flex-container'>
    <select class='cycleType' id='test'>
      <option value="1">30 (days)</option>
      <option value="2">Annual (365 days)</option>
      <option value="3">First of Month</option>
      <option value="4">4</option>
      <option value="5">5 (Strongly Agree)</option>
    </select>
  </div>
  </div>
  <div class='pad'></div>
  </div>
  <div class='flex-container' id='contentPad'></div>
</section>

<section id='footer'>
  <footer class="footer">
    <nav class='footNav'>
      <a href='#topScroll' class='footLink'>Back to Top</a>
      <a href='#' class='footLnk'>&copy;</a>
    </nav>
  </footer>
</section>
<script src="js/expense.js" type="text/javascript"></script>

<!-- Custom Script -->